<p-dataView *ngIf="indexes.length > 0" #dv [value]="indexes" [layout]="layout">
  <ng-template pTemplate="header">
    <div class="flex justify-content-end">
    </div>
  </ng-template>
  <ng-template let-indexes pTemplate="gridItem">
    <div class="grid grid-nogutter">
      <div class="col-12">
        <div class="card m-1 border-1 surface-border">
          <div class="flex flex-column align-items-center text-center mb-2">
            <img [src]="getSanitizedImageUrl(indexes.image!)" [alt]="indexes.name" class="w-9 shadow-2 my-3 mx-0" />
            <div class="mb-3">{{indexes.name}}</div>
            <p-rating [ngModel]="indexes.name" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="flex align-items-center justify-content-center">
            <p-button icon="pi pi-plus" class="flex-auto md:flex-initial white-space-nowrap" label="Add to BT4G"
              (onClick)="addToBt4GBatch(indexes)" />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<p-toast></p-toast>
